#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #121212;
  /* Dark background */
  color: #ffffff;
  /* Light text color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.main {
  background-color: rgb(216, 105, 105);
  padding: 1.5rem 2rem;
  border-radius: 12px;
}